body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;            
}

.app-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.side-panel {
  display: flex;
  flex-direction: column;
  width: 550px; 
  margin-right: 100px; 
}

.filters {
  display: flex;
  flex-direction: column;
  width: 100%;  
  background-color: black;
  padding: 20px;
  border: 2px solid white;
}

.traffic-status-window {
  display: flex;
  flex-direction: column;
  width: 100%;  
  background-color: black;
  padding: 20px;
  border: 2px solid white;
  margin-top: 10px;
}

.status {
  background-color: #f1f2f3;
  border-radius: 1px;
  color: #000;
  margin: 5px;
}
.status-content {
  padding: 16px;
  display: flex;
  align-items: center; 
}

.status-icon {
  flex: 0 0 auto; 
  margin: 0 16px;
}


.left-side, .right-side {
  flex: 1; 
  display: flex;
  align-items: center;
}


.left-side > *, .right-side > * {
  margin: 0 8px; 
}

.teletext-window {
  flex: 1; 
  height: 1000px;
  width: 1000px;
  background-color: black;
  overflow-y: scroll;
  padding: 0px 0px 20px 0px;
}

.filters input,
.filters select,
.filters button {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.filters button {
  cursor: pointer;
  background-color: green;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  background-color: blue;
  text-align: center;
  margin: 0 0 10px 0;  
  padding: 10px 0;
}

h2 {
  font-size: 24px;
  background-color: green;  
  color: white;
  text-align: center;
  margin: 10px 0;
  padding: 5px;
}

p {
  font-size: 20px;
  margin: 10px 0;  
}

hr {
  border: 1px solid white;
  margin: 20px 0;
}


.traffic-status-window img {
  margin-right: 5px;
}

.traffic-status-window span {
  font-size: 20px;
  margin-right: 5px;
}
